html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#app {
    flex: 1; /* This makes sure #app takes up the remaining space */
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    font-size: 1.5em; /* Increase font size */
    margin-bottom: 20px; /* Add space below headings */
}

#dynamic-content {
    flex: 1; /* This makes #dynamic-content expand to fill available space */
    margin-top: 20px;
}

select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    font-size: 18px; /* Increase font size */
    border-radius: 10px; /* Larger radius for better touch targets */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

select:hover, select:focus, button:hover, button:focus {
    background-color: #f1f1f1;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; /* Add more space above the button */
}

button:hover {
    background-color: #0056b3;
}

.result {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.result-normal {
    background-color: #28a745;
}

.result-impaired {
    background-color: #ffc107;
}

.result-elevated {
    background-color: #dc3545;
}

#citation-content {
    min-height: 100px; /* Set a minimum height */
    padding-top: 20px; /* Add some padding to separate it from the dynamic content */
    margin-top: auto; /* Push it to the bottom */
}

@media only screen and (max-width: 600px) {
    #app {
        padding: 20px 10px; /* Adjust padding for smaller screens */
    }

    h1, h2 {
        font-size: 1.2em; /* Adjust heading sizes for smaller screens */
    }

    select, button {
        font-size: 20px; /* Increase font size for touch targets */
        padding: 20px; /* Increase padding for touch targets */
    }

    button {
        margin-top: 60px; /* Add more space above the button for smaller screens */
    }
}
