<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}{{foo}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</head>
<body>
    <header>
        <h1 class="siteLink"><a href="/">{{ site.title }}</a></h1>
        <button class="menu-toggle" aria-label="Toggle menu">☰</button>
    </header>
    <nav>
        <ul class="nav-list">
            {% for item in navigation.nav %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <main>
      <p>there should be content after this:</p>
        {% block content %}"replaceable content"{% endblock %}
      <p>That should have been some content</p>
    </main>
    <footer>
        <p>&copy; 2024 {{ site.title }}</p>
        <p>Created by {{ site.author }}</p>
    </footer>
</body>
</html>
