{% extends "layouts/base.njk" %}

{% block content %}
  <section class="description">
    <h2>Description</h2>
    <p>{{ description }}</p>
  </section>
  <section class="inputs">
    <h2>Inputs</h2>
    <form action="{{ form_action }}" method="post">
      <button type="submit">Submit</button>
    </form>
  </section>
{% endblock %}
