<div class="form-group">
  <label for="{{ id }}">{{ label }}</label>
  <input type="number" id="{{ id }}" name="{{ name }}" class="form-control" 
         value="{{ value }}" 
         {% if min %} min="{{ min }}" {% endif %}
         {% if max %} max="{{ max }}" {% endif %}
         {% if step %} step="{{ step }}" {% endif %}>
</div>
