---
layout: layouts/base
title: "Home"
---
<div id="content">
    <p>This series of pages asks questions about diastolic function parameters as measured by echocardiography and navigates
    recent guideline algorithms to determine if LV filling pressures are elevated.</p>
    <ul>
        <li>2016 ASE Guidelines</li>
        <li>2024 BSA Guidelines</li>
    </ul>
    <button id="startButton">Start</button>
</div>
